* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#0f0c29, #302b63, #24243e);
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  margin: 1rem;
}

.container {
  min-width: 400px;
  overflow: auto;
  min-height: 400px;
  padding: 0;
  margin-right: 5rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  height: 50px;
  background-color: gray;
  color: white;
  font-size: large;
}

.regular-btn-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.last-btn-line {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100%;
  padding: 20px 25px;
  border: 1px solid rgba(80, 78, 78, 0.1);
}

.CalcuSection {
  display: flex;
  justify-content: space-between;
}

.CalTitle {
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: 3rem;
  color: aliceblue;
}
